  --color-on-secondary-fixed-variant: #7a4300;
  --color-error-dim: #9f0519;
  --color-tertiary-fixed-dim: #edc600;
  --color-primary-dim: #005a4d;
  --color-outline-variant: #7eb8b2;
  --color-on-primary: #c2ffef;
  --color-on-error-container: #570008;
  --color-secondary-fixed-dim: #ffb470;
  --color-secondary-container: #ffc697;
  --color-primary-fixed: #61f4d8;
  --color-on-primary-fixed-variant: #006455;
  --color-on-secondary-fixed: #512a00;
  --color-on-tertiary-container: #594a00;
  --color-surface: #d4fffa;
  --color-on-primary-container: #00594c;
  --color-surface-bright: #d4fffa;
  --color-inverse-surface: #001110;
  --color-surface-dim: #88e4dc;
  --color-on-background: #003532;
  --color-primary: #006859;
  --color-tertiary-dim: #5f4e00;
  --color-on-secondary: #fff0e6;
  --color-surface-container-low: #bbfdf6;
  --color-surface-container-high: #a2f1e9;
  --color-error-container: #fb5151;
  --color-on-secondary-container: #6d3b00;
  --color-tertiary-container: #fdd400;
  --color-surface-container: #adf6ee;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-fixed: #fdd400;
  --color-on-tertiary: #fff2ce;
  --color-secondary-fixed: #ffc697;
  --color-on-tertiary-fixed-variant: #645300;
  --color-secondary-dim: #794200;
  --color-secondary: #8a4c00;
  --color-primary-container: #61f4d8;
  --color-on-tertiary-fixed: #433700;
  --color-surface-container-highest: #97ece4;
  --color-tertiary: #6d5a00;
  --color-inverse-primary: #6bfde0;
  --color-surface-variant: #97ece4;
  --color-on-error: #ffefee;
  --color-inverse-on-surface: #6ea7a2;
  --color-on-surface: #003532;
  --color-primary-fixed-dim: #4fe5ca;
  --color-background: #d4fffa;
  --color-surface-tint: #006859;
  --color-error: #b31b25;
  --color-on-primary-fixed: #00443a;
  --color-on-surface-variant: #296560;
  --color-outline: #47807c;
